  /* logo圖片 */
  .logoImg{
    width: 200px;
    animation: shine 5s ease-in-out infinite;
    cursor: pointer;
  }
  @keyframes shine {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }
}
  /* 共用邊線 */
  .data-border{
    border: 1px solid #65AF9C;
    border-radius: 20px;
    box-shadow: 5px 5px 18px #888888;
  }
  .imgSize{
    width: 800px;
    height: 100%;
  }
  /* 區塊 */
  .data-block{
    background-color: #BDCDAA;    
    height: 80vh;
    background-image: url(./image/blob-scatter-haikei.svg);
    background-repeat: no-repeat;
    overflow: hidden;
}
  .wrap{
    background-image: url(./image/bg3.jpg);
    width: 100vw;
    height: 100vh;
  }
  /* 毛玻璃效果 */
  .glassPage{
    backdrop-filter: blur(3px);

  }
  /* 區塊裡面的標題 */
  .data-block-txt{
    font-size: 60px;
    color: #194221;
    font-weight: bold;
    border-bottom: 5px solid #194221;
  }
   .carousel-caption{
    color: #000;
   }
   @media(max-width:1440px){
  .imgSize{
    width: 54vw;
  }
}
  @media(max-width:992px){
  .imgSize{
    width: 80vw;
  }
}

  @media(max-width:768px) {
  .imgSize{
    width:80vw;
  }
}